header{
    background: url(../src/img/favicon/bg-main.png);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-bar img{
    width: 400px;
    height: 150px;
    margin-top: 40px;
}

.nav-bar a{
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
    color: #000;
    position: relative;
}

.nav-bar a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.nav-bar a:hover::after{
    width: 100%;
}


.information{
    width: 1000px;
    height: 250px;
    /* border: 1px solid black; */
    margin-top: 100px;
    background-color: rgba(17, 17, 17, 0.7);
    padding: 15px;
}

.information h1{
    font-size: 60px;
    margin-left: 350px;
    margin-top: 15px;
    color: #fff;
}

.information h4{
    font-size: 25px;
    margin-left: 350px;
    margin-top: 15px;
    color: #fff;
}


.btn a{
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: #820000;
    margin-left: 750px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    transition: 2s;
}

.btn a:hover{
    background-color: #430303;
}