header{
    background-image: url(../src/img/favicon/bg-main.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

header{
    max-width: 100%;
    height: auto;
}

header img{
    width: 300px;
    height: 150px;
    padding: 20px 140px;
}

a,button{
    cursor: pointer;
}

nav{
    position: absolute;
    top: 100px;
    right: 50px;
    width: 250px;
}

.navegacao{
    position: fixed;
    right: -500px;
    width: 350px;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.7);
    border-radius: 3px;
    transition: .5s;
    margin-top: -200px;
}

.navegacao ul li {
    color: white;
    text-align: right;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 24px;
    padding: 20px 30px;
    /* border-bottom: 1px solid #252525; */
    transform: 2ms ease-is;
    position: relative;
}

.navegacao ul li::before{
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 3px;
    background-color: #820000;
    transition: all 2.0s;
}

.navegacao ul li:hover::before{
    width: 100%;
}

.hamburger, .bar{
    position: fixed;
}

.hamburger{
    display: block;
    top: 5%;
    left: 95%;
    width: 30px;
    height: 30px;
    transform: translate(-50%);
    border: 0;
    background: 0 0;
}

.bar{
    top: 3px;
    background-color: rgba(17, 17, 17, 0.7);
    width: 100%;
    height: 4px;
    transition: all .3s ease-is;
}

#bar2{
    top: 11px;
}

#bar3{
    top: 19px;
}


.navegacao.active{
    right: 0;
}


.hamburger.open #bar1{
    background-color: #fff;
    transform: rotate(45deg) translate(6px, 5px);
} 

.hamburger.open #bar2{
    background-color: transparent;
}

.hamburger.open #bar3{
    background-color: #fff;
    transform: rotate(-45deg) translate(6px, -5px);

} 

.information {
    width: 800px;
    height: 250px;
    /* border: 3px solid black; */
    margin-top: 100px;
    background-color: rgba(17, 17, 17, 0.7);
    
}

.information-txt{
    /* border: 2px solid black; */
    width: 700px;
    height: 250px;
    margin-left: 100px;
}

.information h1 { 
    font-size: 45px;
    margin-left: 200px;
    margin-top: 40px;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
 }
 
 .information h4 {
    font-size: 16px;
    margin-left: 200px;
    margin-top: 15px;
    color: #fff;
    text-transform: uppercase;
} 


.btn a {
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    border-radius: 8px;
    background-color: #820000;
    margin-left: 550px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    transition: 2s;
}

.btn a:hover {
    background-color: #430303;
} 


@media screen and (max-width:785px) {
    header{
        background-image: url(../src/img/favicon/bg-main-mobile.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
    }
    header img{
        margin-left: 150px;
        width: 200px;
        height: 100px;
    }

    .information-txt{
        margin-top: -50px;
        margin-left: -100px;

    }
    .information h1{
        font-size: 40px;
        margin-right: 400px;
    }
    .information h4{
        margin-top: -15px;
    }
    .btn a{
        margin-left: 250px;
    }

}

@media screen and (max-width:735px) {
    header{
        background-image: url(../src/img/favicon/bg-main-mobile.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
    }
    header img{
        margin-left: 150px;
        width: 200px;
        height: 100px;
    }

    .information-txt{
        margin-top: -50px;
        margin-left: -100px;

    }
    .information h1{
        font-size: 40px;
        margin-right: 400px;
    }
    .information h4{
        margin-top: -15px;
    }
    .btn a{
        margin-left: 250px;
    }

}




