section{
    background: url(../src/img/favicon/bg-section.png);
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.box-section{
    border: 1px solid white;
    width: 600px;
    height: 400px;
    margin-top: 100px;
    /* margin-left: 100px; */
}

.ink{
    width: 162px;
    height: 118px;
    margin-left: 230px;
}

.designers{
    width: 400px;
    height: 130px;
}

section img{
    display: flex;
    padding: 15px;
}

.btn-section {
    width: 360px;
    height: 38px;
    display:flex;
    flex-direction: column;
    gap: 20px;
    align-items:center;
    justify-content: center;
    /* margin-left: 100px; */
    /* background-color: #820000; */
}

.btn-section a{
    color: white;
    margin-left: 60px;
    font-size: 16px;
    text-transform: uppercase;
}


.uni{
    width: 360px;
    height: 38px;
    background-color: #820000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-block: 15px;
    margin-top: 100px;
}

.uni-new{
    width: 360px;
    height: 38px;
    /* background-color: #820000; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-block: 15px;
}

.uni-new:hover{
    width: 360px;
    height: 38px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-block: 15px;
    background-color: #820000;
    transition: 0.50s;
}

.vila-lobos{
    width: 360px;
    height: 38px;
    /* background-color: #820000; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-block: 15px;
}

.vila-lobos:hover{
    width: 360px;
    height: 38px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-block: 15px;
    background-color: #820000;
    transition: 0.50s;
}


.cards{
    width: 500px;
    height: 400px;
    margin-top: 100px;
    border:1px solid white;
}

